.icon.outbound {
  display: none;
}

.home .feature h2 {
  text-align: center;
}

a.nav-link.external.action-button {
color: #000000;
font-size: 1.6em;
border-bottom: 2px solid #000000;
border-radius: 0px;
}

h4{
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}

h1#main-title {
  font-family: 'Ruslan Display';
  font-size: 3em;
}

img {
  display: block;
  margin: 0 auto;
}
a.header-anchor {
  display: none;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2.3rem;
}

.dvij {
    display: inline-block;
    font-size: 1.2rem;
    color: #000000;
    background-color: #ffff25;
    padding: 0.8rem 1.6rem;
    border-radius: none;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
    border-bottom: 2px solid #000000;  
}

.dvij:hover {
   background-color:  #ffd700;
}
.tzentr {
  text-align: center;
}
.big {
   font-size: 3rem;
   font-weight: 300;
   color: #333;
}

.darker {
  color:#333;
  font-size: 2rem;
  }
.pad {
  display: block;
  margin: 0 auto;
}
